<section class="w-100 {% unless section.settings.no_gutter %}container{% endunless %}">
  {% for block in section.blocks %}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'heading_block' -%}
        {% assign tag = block.settings.heading_tag %}
        <{{ tag }} class="{% if block.settings.heading_capitalize %}text-capitalize{% endif %} {% if block.settings.heading_uppercase %}text-uppercase{% endif %}">
          {{- block.settings.heading_text -}}
        </{{ tag }}>
      {%- when 'content_block' -%}
        {{ block.settings.content }}
      {%- when 'image_block' -%}
    {%- endcase -%}
  {% endfor %}
</section>

{% schema %}
{
  "name": "One Column",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "heading_block",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading_text",
          "label": "Heading Text",
          "default": "Write your heading here"
        },
        {
          "type": "checkbox",
          "id": "heading_capitalize",
          "label": "Capitalize Heading?",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "heading_uppercase",
          "label": "Uppercase Heading?",
          "default": false
        },
        {
          "type": "radio",
          "id": "heading_tag",
          "label": "Heading Tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            }
          ],
          "default": "h3"
        }
      ]
    },
    {
      "type": "content_block",
      "name": "Text Content",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Write your content here</p>"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "no_gutter",
      "label": "No Gutter?",
      "default": false
    },
    {
      "type": "radio",
      "id": "content_align",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        },
        {
          "value": "centered",
          "label": "Centered"
        }
      ],
      "default": "left"
    }
  ]
}
{% endschema %}
